.ant-layout-sider-children {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
    background-color: lightgray;
}
.userInfo-form{
    margin: 100px 100px;;
}
.walletPrice{
    float:left;
    font-size:20px;
    font-weight:bold;
}
.hidden {
    display: none;
}